<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card bg-dark shadow-sm">
        <div class="card-body">
          <%= form_with model: @promp, url: 'prompts_path', method: :post do |form| %>
            <div class="form-group">
              <%= form.label :language, class: "font-weight-bold text-white" %>
              <%= form.select :language, options_for_select(["Ruby", "JavaScript", "Python", "C++"], selected: '@prompt.language'), {class: "custom-select"} %>
            </div>
            <div class="form-group">
              <%= form.label :prompt, class: "font-weight-bold text-white" %>
              <%= form.text_area :prompt, rows: "5", class: "form-control" %>
            </div>
            <div class="form-group text-center mt-4">
              <%= form.submit "Generate", {class: "btn btn-primary btn-lg"} %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3 justify-content-center">
    <div class="col-md-8">
      <div class="card bg-light shadow-sm">
        <div class="card-body">
          <h5 class="text-center font-weight-bold mb-5">Generated Prompts</h5>
          <h6 class="text-center font-weight-bold mb-3">Total Prompts: <%= @prompts.count %></h6>
          <div id="prompt-responses" class="overflow-auto" style="max-height: 500px;">
            <% @prompts.each do |prompt| %>
              <div class="card bg-white shadow-sm mb-3">
                <div class="card-body">
                  <h5 class="card-title font-weight-bold">Prompt Message</h5>
                  <p class="card-text"><%= prompt[:prompt] %></p>
                  <p class="card-text"><small class="text-muted">Sent at: <%= prompt[:created_at] %></small></p>
                </div>
                <div class="card-footer">
                  <h5 class="font-weight-bold">Response from OpenAI:</h5>
                  <pre class="bg-dark p-3 text-white rounded">
<%= prompt[:response] %>
                  </pre>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
